@model PersonalFinance.WebApp.Model.Gastos

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gastos</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Alterar gastos</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="align-middle">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Editar competência</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit" method="post" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="NomeConta"></label>
                                <input asp-for="NomeConta" class="form-control" placeholder="Data inicial">
                                <span asp-validation-for="NomeConta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Valor"></label>
                                <input asp-for="Valor" class="form-control" placeholder="Data final">
                                <span asp-validation-for="Valor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataPagamento"></label>
                                <input asp-for="DataPagamento" class="form-control" placeholder="Data final">
                                <span asp-validation-for="DataPagamento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataGasto"></label>
                                <input asp-for="DataGasto" class="form-control" placeholder="Data final">
                                <span asp-validation-for="DataGasto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CompetenciaId"></label>
                                <input asp-for="CompetenciaId" class="form-control" placeholder="Data final">
                                <span asp-validation-for="CompetenciaId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                            <button asp-action="Index" class="btn btn-danger">Voltar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>